@model CreateDepartmentDto
@{
    ViewData["Title"] = "CreateDepartment";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<div class="container mt-4">
    <div class="card shadow-sm rounded-3">
        <div class="card-header bg-primary text-white fw-bold">
            Yeni Bölüm Ekle
        </div>
        <br />
        <div class="card-body">
            <form method="post">

                <div class="mb-3">
                    <label class="form-label">Resim Url</label>
                    <input type="text" asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Bölüm Adı</label>
                    <input type="text" asp-for="DepartmentName" class="form-control" />
                    <span asp-validation-for="DepartmentName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Açıklama</label>
                    <textarea asp-for="Description" rows="3" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mt-4 d-flex justify-content-between">
                    <a href="/Department/Index" class="btn btn-secondary px-4">Geri Dön</a>
                    <button type="submit" class="btn btn-success px-4">Kaydet</button>
                </div>

            </form>
        </div>
    </div>
</div>