@model UpdateAppointmentDto
@{
    ViewData["Title"] = "DetailAppointment";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<div class="container mt-4">
    <div class="card shadow-sm rounded-3">
        <div class="card-header bg-primary text-white fw-bold">
            Randevu Detayları
        </div>
        <br />
        <div class="card-body">
            <form method="post">

                <input type="hidden" asp-for="AppointmentId" />
                <div class="mb-3">
                    <label class="form-label">Ad Soyad</label>
                    <input type="text" asp-for="FullName" class="form-control"  />
                </div>

                <div class="mb-3">
                    <label class="form-label">E-posta</label>
                    <input type="email" asp-for="Email" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Telefon Numarası</label>
                    <input type="text" asp-for="PhoneNumber" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Bölüm</label>
                    <select asp-for="DepartmentId" id="DepartmentId" class="form-control">
                        <option value="" disabled selected>Bölüm Seçin</option>
                        @foreach (var item in ViewBag.departments)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Doktor</label>
                    <select asp-for="DoctorId" id="DoctorId" class="form-control">
                        @foreach (var item in ViewBag.doctors)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Tarih</label>
                    <input type="date" asp-for="Date" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Saat</label>
                    <input type="time" asp-for="Time" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Mesaj</label>
                    <textarea asp-for="Message" rows="3" class="form-control"></textarea>
                </div>

                <div class="mb-3">
                    <label class="form-label">Durumu</label>
                    <select asp-for="IsApproved" asp-items="Html.GetEnumSelectList<StatusAppointmentDto>()" class="form-control">
                        <option value="">Durumu Seçin</option>
                    </select>
                </div>

                <div class="mt-4 d-flex justify-content-between">
                    <a href="/AllAppointment/Index" class="btn btn-info px-4">Geri Dön</a>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $(function () {
      $("form :input").prop("readonly", true);

      $("form select, form textarea").prop("disabled", true);
    });
</script>